*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header{
    height: 60px;
    background-color: #f3f3f3;
    display: flex;
}

.header-logo{
    width: 100px;
    margin-top: 4px;
    align-items: center;
    margin-left: 15px;
}

.header-about{
   display:flex;
   align-items: center;
   margin-left: 570px;
   justify-content: center;
}

.about{
    display: flex;
    width:570px ;
    height: 30px;
    gap: 30px;
    align-items: center;
}

.req-border{
    border: 1.5px,solid,black;
    padding: 10px;
    border-radius: 10px;
    
}

.main-img{
   margin: 20px;
   margin-left:61%;
   margin-top: -7%;
}

.h1{
    width: 500px;
    height: 100px;
    margin-left: 20px;
    margin-top: 70px;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #191a23;
} 

.p-tag{
    margin: 30px;
    width: 550px;
    height: 200px;
    margin-left:10px ;
    font-size: 1.3rem;
}

.btn-left{
   margin-top: 25px;
    background-color: #191a23;
    color: #f3f3f3;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: serif;
   font-size: 1.1rem;
}

.logo-continer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    width: 224%;
    height: 70px;
    margin: 30px;
    margin-left: -21px;
}

.amazon{

}